<h2> Inscription </h2>
<p id="validate" *ngIf="send == true"> Inscription validée !
</p>



<div>
    <form [formGroup]="subscribeForm">
        <div>
            <label for="name"> Nom </label>
            <input id="name" type="text" formControlName="name">
            <p *ngIf="subscribeForm.controls['name'].errors && subscribeForm.controls['name'].touched">Nom requis</p>
        </div>

        <div>
            <label for="mail"> Mail </label>
            <input id="mail" type="email" formControlName="mail">
            <ng-container *ngIf="subscribeForm.controls['mail'].errors && subscribeForm.controls['mail'].touched">
                <p *ngIf="subscribeForm.controls['mail'].errors['emailExists'] || subscribeForm.controls['mail'].errors['emailExistsUsers']"> Email déjà utilisé</p>
                <p *ngIf="subscribeForm.controls['mail'].errors['email'] && subscribeForm.controls['mail'].touched"> Email invalide </p>
            </ng-container>

        </div>

        <div>
            <label for="password"> Mot de passe </label>
            <input id="password" type="password" formControlName="password">
            <p *ngIf="subscribeForm.controls['password'].errors && subscribeForm.controls['password'].touched"> Mot de
                passe trop court : minimum 8 caractères.</p>
        </div>

        <div>
            <label for="confirmPassword"> Confirmer le mot de passe </label>
            <input id="confirmPassword" type="password" formControlName="confirmPassword">
            <p *ngIf="subscribeForm.controls['confirmPassword'].errors && subscribeForm.controls['confirmPassword'].touched">
                Mot de passe trop court : minimum 8 caractères.</p>
            <p *ngIf="subscribeForm.errors && subscribeForm.controls['confirmPassword'].touched"> Les mots de passe en
                correspondent pas </p>
        </div>
        <div id="choice">
            <fieldset>
                <legend>Type de profil</legend>
            
                <div>
                    <label for="coop">Coopérative</label>
                  <input formControlName="choice" type="radio" id="coop" name="choice" value="coop" [checked]="true">
                </div>
            
                <div>
                    <label for="user">Utilisateur</label>
                  <input formControlName="choice" type="radio" id="user" value="user" name="choice">
                </div>
            </fieldset>
            
        </div>
    </form>
</div>

<button *ngIf="subscribeForm.valid" id="sendSubscribe" (click)="validateForm()"
   [disabled]="send" > Valider
</button>

<p *ngIf="send"> Vous pouvez maintenant vous connecter !</p>


<!-- *ngIf="subscribeForm.valid" id="sendSubscribe" -->