$heightNav: 10;

main {
    height: $heightNav+vh;
    background-color: darkorange;
    opacity: 70%;
   
}

h1{
    font-size: 1.8em;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: $heightNav+vh;
    align-items: center;
   
}

main>nav>a {
    text-decoration: none;
    padding-left: 6%;
}

#forms{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 50%;
    margin-left: 3%;
    label, button{
        margin-left: 3%;
        margin-right: 1%;

    }

    p{
        font-size: 0.7em;
        color: red;
        font-weight: 600;
        margin-left: 3%;
    }

    input{
        align-items:baseline;
    }
}

#isConnected{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-left: 5%;
    font-weight: 700;
    width: 50%;

    p{
        margin-left: 5%;
    }
}

