<main>
    <nav>
            <h1> Labo Angular </h1>
            <a routerLink=""> Accueil </a>
            <a routerLink="auth/register"> Inscription </a>
            <a *ngIf="!clicked && session == 0 " (click)="connect()"> Se connecter </a>

            <div id="forms" *ngIf="clicked">
                <label (click)="connect()"> Email </label>
                <input [ngStyle]="{'border-color': okToConnection ? 'null':'red'}" [(ngModel)]="valueName" type="text" placeholder="example@hotmail.com">

                <label (click)="connect()"> Mot de passe </label>
                <input [ngStyle]="{'border-color': okToConnection ? 'null':'red'}" [(ngModel)]="valueCode" type="password">
                <button (click)="connectionServe()"> Connexion </button>

                <div *ngIf="!okToConnection" id="error">
                    <p *ngIf="!okToConnection"> Email inconnu ou mot de passe incorrect</p>
                </div>
            </div>

           

            <div id="isConnected" *ngIf="session > 0">
                <img src="../../../assets/icon-valide.png">
                <p routerLink='auth/profil/{{id}}'> Voir profil </p>
                <p routerLink="" (click)="logout()"> Se déconnecter </p>
            </div>
        </nav>    
</main>
