$heightNav: 10;

main {
    height: $heightNav+vh;
    background-color: darkorange;
    opacity: 70%;
}

h1{
    font-size: 1.8em;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: $heightNav+vh;
    align-items: center;
}

main>nav>a {
    text-decoration: none;
    padding-left: 6%;
}