<main>
    <nav>
            <h1> Labo Angular </h1>
            <a routerLink=""> Accueil </a>
            <a routerLink="auth/register"> Inscription </a>
            <a *ngIf="!clicked" (click)="connect()"> Se connecter </a>
            <div id="forms" *ngIf="clicked">
                <label (click)="connect()"> Email </label>
                <input [(ngModel)]="valueName" type="text" placeholder="example@hotmail.com">
                <p *ngIf="!okToConnection"> Email inconnu </p>
                <label (click)="connect()"> Mot de passe </label>
                <input [(ngModel)]="valueCode" type="password">
               <button routerLink="auth/profil" (click)="connectionServe()"> Connexion </button>
            </div>
    </nav>    
</main>
